In [1]:
import numpy as np
import pandas as pd

In [2]:
print(np.__version__)
print(pd.__version__)

1.26.1
2.0.3

In [3]:
y_clark = pd.read_excel("yclark_smoothed.xlsx",sheet_name="in")

In [4]:
head = y_clark.head(1)
head

   X/C  Y/C
0  1.0  0.0

In [13]:
propeller = pd.read_excel("propeller.xlsx")
propeller

    stations  chords    pitch  station(mm)  chords(mm)
0     1.9270  1.2216  36.7649     48.94580    31.02864
1     2.0371  1.2273  36.1382     51.74234    31.17342
2     2.1473  1.2332  35.4733     54.54142    31.32328
3     2.2575  1.2393  34.7733     57.34050    31.47822
4     2.3677  1.2454  34.0408     60.13958    31.63316
5     2.4779  1.2515  33.2780     62.93866    31.78810
6     2.6477  1.2609  32.0475     67.25158    32.02686
7     2.8672  1.2724  30.3665     72.82688    32.31896
8     3.0867  1.2830  28.6150     78.40218    32.58820
9     3.3062  1.2921  27.0021     83.97748    32.81934
10    3.5257  1.2993  25.5599     89.55278    33.00222
11    3.7452  1.3042  24.2691     95.12808    33.12668
12    3.9647  1.3062  23.1132    100.70338    33.17748
13    4.1842  1.3049  22.0719    106.27868    33.14446
14    4.4036  1.2999  21.1209    111.85144    33.01746
15    4.6231  1.2907  20.2491    117.42674    32.78378
16    4.8426  1.2767  19.4470    123.00204    32.42818
17    5.0621  1.2575  18.7067    128.57734    31.94050
18    5.2816  1.2327  18.0212    134.15264    31.31058
19    5.5011  1.2017  17.3845    139.72794    30.52318
20    5.7206  1.1640  16.7914    145.30324    29.56560
21    5.9401  1.1192  16.2372    150.87854    28.42768
22    6.1596  1.0668  15.7176    156.45384    27.09672
23    6.3791  1.0063  15.2290    162.02914    25.56002
24    6.5985  0.9372  14.7677    167.60190    23.80488
25    6.8180  0.8591  14.3302    173.17720    21.82114
26    7.0375  0.7714  13.8969    178.75250    19.59356
27    7.2570  0.6738  13.3499    184.32780    17.11452
28    7.4765  0.5656  12.6686    189.90310    14.36624
29    7.6910  0.4492  11.8699    195.35140    11.40968
30    7.8091  0.3800  11.3664    198.35114     9.65200
31    7.8933  0.3023  10.9778    200.48982     7.67842
32    7.9667  0.1453  10.6146    202.35418     3.69062
33    8.0000  0.0131   9.5980    203.20000     0.33274

In [17]:
stationByRadius_meter = (propeller["station(mm)"]*0.0393701)/8
stationByRadius_meter

0     0.240875
1     0.254638
2     0.268413
3     0.282188
4     0.295963
5     0.309738
6     0.330963
7     0.358400
8     0.385838
9     0.413275
10    0.440713
11    0.468150
12    0.495588
13    0.523025
14    0.550450
15    0.577888
16    0.605325
17    0.632763
18    0.660200
19    0.687638
20    0.715075
21    0.742513
22    0.769950
23    0.797388
24    0.824813
25    0.852250
26    0.879688
27    0.907125
28    0.934563
29    0.961376
30    0.976138
31    0.986663
32    0.995838
33    1.000001
Name: station(mm), dtype: float64

In [19]:
ChordByRadius_meter = (propeller["chords(mm)"]*0.0393701)/8
ChordByRadius_meter

0     0.152700
1     0.153413
2     0.154150
3     0.154913
4     0.155675
5     0.156438
6     0.157613
7     0.159050
8     0.160375
9     0.161513
10    0.162413
11    0.163025
12    0.163275
13    0.163113
14    0.162488
15    0.161338
16    0.159588
17    0.157188
18    0.154088
19    0.150213
20    0.145500
21    0.139900
22    0.133350
23    0.125788
24    0.117150
25    0.107388
26    0.096425
27    0.084225
28    0.070700
29    0.056150
30    0.047500
31    0.037788
32    0.018163
33    0.001638
Name: chords(mm), dtype: float64

In [10]:

pitch = propeller["pitch"]
pitch

0     36.7649
1     36.1382
2     35.4733
3     34.7733
4     34.0408
5     33.2780
6     32.0475
7     30.3665
8     28.6150
9     27.0021
10    25.5599
11    24.2691
12    23.1132
13    22.0719
14    21.1209
15    20.2491
16    19.4470
17    18.7067
18    18.0212
19    17.3845
20    16.7914
21    16.2372
22    15.7176
23    15.2290
24    14.7677
25    14.3302
26    13.8969
27    13.3499
28    12.6686
29    11.8699
30    11.3664
31    10.9778
32    10.6146
33     9.5980
Name: pitch, dtype: float64

In [23]:
y_clark

        X/C      Y/C
0   1.00000  0.00000
1   0.99572  0.00115
2   0.98296  0.00448
3   0.96194  0.00972
4   0.93301  0.01656
..      ...      ...
64  0.93301 -0.00302
65  0.96194 -0.00190
66  0.98296 -0.00094
67  0.99572 -0.00025
68  1.00000  0.00000

[69 rows x 2 columns]

In [8]:
propeller.iloc[0,4]

31.02864

In [93]:

origin = 50

for i in range(len(propeller)):
    x = []
    y = []
    for j in range(len(y_clark)):
        x_init = (y_clark.iloc[j,0]-(50/100))*propeller.iloc[i,4]
        y_init = y_clark.iloc[j,1]*propeller.iloc[i,4]
        x_final = x_init*np.cos((np.pi/180.)*propeller.iloc[i,2])+y_init*np.sin((np.pi/180.)*propeller.iloc[i,2])
        y_final = y_init*np.cos((np.pi/180.)*propeller.iloc[i,2])-x_init*np.sin((np.pi/180.)*propeller.iloc[i,2])
        x.append(x_final)
        y.append(y_final)
    text_write(x,y,i,propeller.iloc[i,3])

In [89]:
def text_write(x,y,n,z):
    for i in range(len(x)):
        file = open("demofile"+str(n)+".txt", "a")
        file.write(str(z)+"\t"+str(y[i])+"\t"+str(x[i])+"\n")
        file.close()